<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="roll-by-time"
                     fileName="log4j2/roll-by-time/app.log"
                     filePattern="log4j2/roll-by-time/app.%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.data.mongodb"  level="debug" />
        <Logger name="br.com.exemplo"  level="debug" />
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="roll-by-time"/>
        </Root>
    </Loggers>
</Configuration>